<a href="https://colab.research.google.com/github/NeuralFolk/tensorflow-basic/blob/main/12_Encoding_in_Tensorflow_tf_one_hot()%2C_tf_keras_utils_to_categorical()_in_Tensorflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf

tf.one_hot([3, 2, 0, 4, 5], 4)

<tf.Tensor: shape=(5, 4), dtype=float32, numpy=
array([[0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]], dtype=float32)>

In [ ]:
tf.keras.utils.to_categorical([0, 3, 1, 2], 4)

array([[1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.]], dtype=float32)